doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document

        style 
            include ../static/style.css
    body
        nav
            ul
                li 
                  a(href="#") Home
                li 
                  a(href="#") About
                li 
                  a(href="#") Contact Us
        div.container
            h1 Get This Gym memebership for 60$ - Hurry fill This Form Now!
                form(action="/" method = "post" id= "contact")
                    input(type="text" name= "name" id="name" placeholder = "Enter Your Name")
                    input(type="text" name= "age" id="age" placeholder = "Enter Your Age")
                    input(type="text" name= "gender" id="gender" placeholder = "Enter Your Gender")
                    textarea(name="address", cols="30", rows="10" placeholder="Enter Your Address")
                    textarea(name="more", cols="30", rows="10" placeholder="Enter More about Yourself")
                    button Submit
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae pariatur, illo odio hic nobis dolorem placeat dolor doloribus reiciendis consequuntur quibusdam nostrum corporis atque aspernatur maxime expedita sed ipsum culpa? Nihil adipisci, ad quaerat provident odit mollitia maiores deleniti. Sunt nobis accusamus repudiandae animi quidem nesciunt fugiat, repellat, fuga, in officiis neque modi. Ipsum quidem animi officia accusantium laboriosam sunt. Provident saepe itaque odit accusantium eveniet officiis. Obcaecati, nobis reprehenderit numquam aspernatur mollitia quo velit doloremque facere, adipisci, blanditiis voluptates fugiat iusto. Amet voluptatibus perspiciatis veritatis distinctio nam corrupti, quia ad pariatur obcaecati rem, earum odio modi vero, aliquid error.            
                   

